In [16]:
#connection establishment
import mysql.connector
conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
         database='stocksdb')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022227FA0860>

In [17]:
#Finding table in database
con=conn.cursor()
con.execute('USE stocksdb')
con.execute("SHOW TABLES")

In [18]:
#printing table name
for (table_name,) in con:
        print(table_name)

interview

In [4]:
#Reading interview table from database using pandas
import pandas as pd
df = pd.read_sql('SELECT * FROM interview', con=conn)

In [61]:
#printing column names
df.columns

Index(['isin', 'insertion_datetime', 'datetime', 'open', 'high', 'low',
       'close', 'volume', 'open_interest'],
      dtype='object')

In [62]:
#finding columns with null values
df.isnull().sum()

isin                       0
insertion_datetime    451940
datetime                   0
open                       0
high                       0
low                        0
close                      0
volume                     0
open_interest         451940
dtype: int64

In [63]:
#creating new dataset with required columns
dataset=df[['open','high','low','close','volume']]

In [64]:
#printing new dataset
dataset.head()

     open     high      low    close  volume
0  2419.0  2436.00  2408.90  2435.25   10281
1  2435.0  2440.00  2426.45  2439.00   13315
2  2439.7  2439.70  2422.10  2424.95    3760
3  2420.0  2424.50  2386.50  2395.00   11653
4  2395.0  2413.95  2394.70  2409.85    7744

In [65]:
#preparing Features and Target variables
y=dataset.iloc[:,0]
X=dataset.iloc[:,1:]

In [66]:
#printing X feature data
X.head()

      high      low    close  volume
0  2436.00  2408.90  2435.25   10281
1  2440.00  2426.45  2439.00   13315
2  2439.70  2422.10  2424.95    3760
3  2424.50  2386.50  2395.00   11653
4  2413.95  2394.70  2409.85    7744

In [67]:
y.head()

0    2419.0
1    2435.0
2    2439.7
3    2420.0
4    2395.0
Name: open, dtype: float64

In [68]:
#spliting feature and target variables to train and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,y,test_size=0.2,random_state=1)

In [69]:
#importing and initialising LinearRegression Model
from sklearn.linear_model import LinearRegression
L= LinearRegression()

#Training the dataset
L.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [70]:
#Testing the model with test dataset
L.predict(X_test)

array([2130.02491713,   16.77784181,  590.04061198, ...,  494.34960654,
         17.4778574 ,  415.04055846])

In [71]:
#importing metrics to see the accuracy of the model
from sklearn.metrics import explained_variance_score
explained_variance_score(Y_test,L.predict(X_test))

0.9999986799091463