In [2]:
#connection establishment
import mysql.connector
conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
         database='stocksdb')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001811BC92F28>

In [3]:
#Finding table in database
con=conn.cursor()
con.execute('USE stocksdb')
con.execute("SHOW TABLES")

In [4]:
#printing table name
for (table_name,) in con:
        print(table_name)

interview

In [5]:
#Reading interview table from database using pandas
import pandas as pd
df = pd.read_sql('SELECT * FROM interview', con=conn)

In [62]:
#printing column names
df.columns

Index(['isin', 'insertion_datetime', 'datetime', 'open', 'high', 'low',
       'close', 'volume', 'open_interest'],
      dtype='object')

In [77]:
#finding columns with null values
df.isnull().sum()

isin                       0
insertion_datetime    451940
datetime                   0
open                       0
high                       0
low                        0
close                      0
volume                     0
open_interest         451940
dtype: int64

In [78]:
#creating new dataset with required columns
dataset=df[['open','high','low','close','volume']]

In [79]:
#splitting to train and test dataset
from sklearn.model_selection import train_test_split
train,test =train_test_split(dataset, test_size=0.3)

In [80]:
#printing train dataset
train.head(10)

           open     high      low    close  volume
325160  2501.85  2501.90  2501.85  2501.90       1
275989  2064.90  2064.90  2062.00  2062.00       6
326304  2550.00  2550.00  2550.00  2550.00       0
204737   711.95   711.95   711.95   711.95       0
373784  2146.00  2146.00  2146.00  2146.00       0
173409   753.00   753.00   753.00   753.00       0
468187   580.50   580.50   580.50   580.50       0
160094   813.00   813.00   813.00   813.00       0
394301    10.00    10.00    10.00    10.00       0
196518   705.30   705.30   705.30   705.30       0

In [81]:
#printing test dataset
test.head()

           open    high      low   close  volume
195175   716.15   728.7   716.15   728.7     278
476015   540.60   540.6   540.60   540.6       0
385891     9.60     9.6     9.60     9.6       0
312798  2700.00  2700.0  2700.00  2700.0       3
419165    16.50    16.5    16.50    16.5       0

In [82]:
#preparing Features and Target variables for train dataset
train_Y=train.pop('high')
train_X=train

In [83]:
#printing feature variables of train data
train_X.head()

           open      low    close  volume
325160  2501.85  2501.85  2501.90       1
275989  2064.90  2062.00  2062.00       6
326304  2550.00  2550.00  2550.00       0
204737   711.95   711.95   711.95       0
373784  2146.00  2146.00  2146.00       0

In [84]:
#printing target variables for train data
train_Y.head()

325160    2501.90
275989    2064.90
326304    2550.00
204737     711.95
373784    2146.00
Name: high, dtype: float64

In [85]:
#preparing features and target variables for test dataset
test_Y=test.pop('high')
test_X=test

In [86]:
#printing features of test dataset
test_X.head()

           open      low   close  volume
195175   716.15   716.15   728.7     278
476015   540.60   540.60   540.6       0
385891     9.60     9.60     9.6       0
312798  2700.00  2700.00  2700.0       3
419165    16.50    16.50    16.5       0

In [87]:
#printing target labels of test dataset
test_Y.head()

195175     728.7
476015     540.6
385891       9.6
312798    2700.0
419165      16.5
Name: high, dtype: float64

In [88]:
#importing and initialising LinearRegression Model
from sklearn.linear_model import LinearRegression
L= LinearRegression()

#Training the dataset
L.fit(train_X,train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [89]:
#predicting the model with test dataset
#predicting the highest price reached in a day
L.predict(test_X)

array([ 727.33697645,  540.624753  ,    9.5140704 , ..., 1850.29768673,
       2345.40116038,  914.64617158])

In [90]:
#importing metrics to see the accuracy of the model
from sklearn.metrics import explained_variance_score
explained_variance_score(test_Y,L.predict(test_X))

0.9999984917950421