In [1]:
#connection establishment
import mysql.connector
conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
         database='stocksdb')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022220DC0550>

In [2]:
#Finding table in database
con=conn.cursor()
con.execute('USE stocksdb')
con.execute("SHOW TABLES")

In [3]:
#printing table name
for (table_name,) in con:
        print(table_name)

interview

In [4]:
#Reading interview table from database using pandas
import pandas as pd
df = pd.read_sql('SELECT * FROM interview', con=conn)

In [5]:
#printing column names
df.columns

Index(['isin', 'insertion_datetime', 'datetime', 'open', 'high', 'low',
       'close', 'volume', 'open_interest'],
      dtype='object')

In [6]:
#finding columns with null values
df.isnull().sum()

isin                       0
insertion_datetime    451940
datetime                   0
open                       0
high                       0
low                        0
close                      0
volume                     0
open_interest         451940
dtype: int64

In [7]:
#creating new dataset with required columns
dataset=df[['open','high','low','close','volume']]

In [77]:
#printing new dataset
dataset.head()

     open     high      low  volume
0  2419.0  2436.00  2408.90   10281
1  2435.0  2440.00  2426.45   13315
2  2439.7  2439.70  2422.10    3760
3  2420.0  2424.50  2386.50   11653
4  2395.0  2413.95  2394.70    7744

In [78]:
#preparing Features and Target variables
y=dataset.pop('close')
X=dataset

KeyError: 'close'

In [79]:
#printing X feature data
X.head()

     open     high      low  volume
0  2419.0  2436.00  2408.90   10281
1  2435.0  2440.00  2426.45   13315
2  2439.7  2439.70  2422.10    3760
3  2420.0  2424.50  2386.50   11653
4  2395.0  2413.95  2394.70    7744

In [80]:
#spliting feature and target variables to train and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,y,test_size=0.2,random_state=50)

In [81]:
#importing and initialising LinearRegression Model
from sklearn.linear_model import LinearRegression
L= LinearRegression()

#Training the dataset
L.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [82]:
#Testing the model with test dataset
L.predict(X_test)

array([ 745.98734045, 2148.02835335,   15.86598273, ...,  776.98824729,
         15.71597834, 2220.08046104])

In [83]:
#importing metrics to see the accuracy of the model
from sklearn.metrics import explained_variance_score
explained_variance_score(Y_test,L.predict(X_test))

0.999998936211502